.movie-poster{
    width: 420px;
    height: 530px;
    background-size: cover;
}

.review-container{
    max-width: '600px';
    padding: '20px';
    font-family: 'Arial, sans-serif';
    border: 1px solid;
    border-color: red;
    margin-top: 10px;
    border-radius: 0.5em
  };