.pagination {
    justify-content: center;
}

#dropdown-basic-button {
    width: 200px;
    background-color: black;
    border-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.spinner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.empty-result{
    color: white
}

p{
    height: 1000px;
    background-color: black;
    text-align: center;
}